@page
@model MastersOfCinema.Pages.Directors.IndexModel

@{
    ViewData["Title"] = "List of all directors";
}

<h1>List of all directors</h1>
<p>
    <a asp-page="Create" class="DirectorsIndexAddDirector">(Add a new director)</a>
</p>


@foreach (var item in Model.Director)
{
    <article class="dirList">
        <figure>
            <a asp-page="./Details" id="directorsimg" asp-route-id="@item.DirectorId" data-original-title="@item.Name"><img class="brightness DirectorsIndexImage" src="~/uploads/@item.PhotoURL" title="@item.Name" /></a>
        </figure>
        <a class="DirectorsIndexDirectorName" asp-page="./Details" asp-route-id="@item.DirectorId"><figcaption class="DirectorsIndexDirectorName">@item.Name</figcaption></a>

        <a class="DirectorsIndexDirectorNameButtons" asp-page="./../Movies/Create" asp-route-DirectorId="@item.DirectorId">Add Movie</a> |
        <a class="DirectorsIndexDirectorNameButtons" asp-page="./Edit" asp-route-DirectorId="@item.DirectorId">Edit</a>
    </article>
}

<br/>